<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/auth/complete-payment.css" />
</head>
<body>

<% if (course) { %>
  <section class="complete-payment">
    <div class="container">
      <h2 class="h1">
        Your Going to buy:
      </h2>
      <div class="bought-course-data">
        <div class="course-name">
          course name:
          <div class="data">
            <%= course.name %>
          </div>
        </div>
        <div class="course-price">
          course price:
          <div class="data">
            &dollar; <%= course.price %>
          </div>
        </div>
      </div>
      <div id="paypal-button-container">

      </div>
    </div>
  </section>

  <script
    src="https://www.paypal.com/sdk/js?client-id=<%- clientId %>&components=buttons"></script>
  <script>
    const courseJSON = '<%- JSON.stringify(course) %>';
    const courseObject = JSON.parse(courseJSON);
    const thecsrfToken = "<%- csrfToken %>";

    paypal.Buttons({
      createOrder: function() {
        return fetch("/create-order", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "x-csrf-token": "<%- csrfToken %>"
          },
          body: JSON.stringify({
            item: {
              name: courseObject.name,
              price: courseObject.price
            }
          })
        })
          .then(response => {
            if (response.ok) {
              return response.json();
            }
            return response.json().then(json => {
              Promise.reject(json);
            });
          })
          .then(wantedThings => {
            console.log(`wantedthings`, wantedThings);
            return wantedThings.id;
          })
          .catch(err => {
            console.error(err);
          });
      },
      onApprove: function(data, actions) {
        // This function captures the funds from the transaction.
        return actions.order.capture().then(function(details) {
          fetch("/success_payment", {
            method: "POST",
            headers: {
              "x-csrf-token": "<%- csrfToken %>"
            },
            redirect: "follow",
            body: JSON.stringify({
              purchasingDetails: details
            })
          })
            .then(response => {
              console.log("server_response", response);
              window.location = response.url;
            });
        })
          .catch(err => {
            console.error(`approve error`, err);
          });
      },
      onCancel: (data) => {
        window.location = "/cancel_payment";
        /*fetch("/cancel_payment", {
          method: "get",
          body: JSON.stringify({
            cancellingData: data
          })
        })
          .then(response => {
            console.log("server_response", response);
          })
          .catch(err => {
            console.error(`approve error`, err);
          });*/
      },
      style: {
        layout: "vertical",
        color: "blue",
        shape: "rect",
        label: "paypal"
      }
    }).render("#paypal-button-container");
  </script>
<% } %>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
