<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/auth/complete-payment.css" />
</head>
<body>

<%- include("../includes/navigation.ejs"); %>

<section id="app">
  <div class="container">
    <div class="custom-head">
      <h2>Reset Your Password</h2>
      <span></span>
    </div>
    <div class="row">
      <form action="/reset-password" method="post" @submit.prevent="submitForm" id="resetForm">
        <%- include('../includes/errorMessage.ejs'); %>
        <div class="form-floating my-3">
          <input type="password" id="new_password" name="new_password" class="form-control"
                 placeholder="Your new password"
                 v-model="newPassword"
                 :class="{ 'is-invalid border-danger': errors.find(e => e.name === 'newPassword') }"
          />
          <label for="new_password">New Password</label>

          <div v-if="errors.find(e => e.name === 'newPassword')">
            <span class="text-danger fs-6" v-text="errors[errors.findIndex(e => e.name === 'newPassword')].message">
            </span>
          </div>
        </div>
        <div class="form-floating my-3">
          <input type="password" id="confirm_password" name="confirm_password" class="form-control"
                 placeholder="Confirm Password"
                 v-model="confirmPassword"
                 :class="{ 'is-invalid border-danger': errors.find(e => e.name === 'confirmPassword') }"
          >
          <label for="confirm_password">Confirm your password</label>
          <div v-if="errors.find(e => e.name === 'confirmPassword')">
            <span class="text-danger fs-6"
                  v-text="errors[errors.findIndex(e => e.name === 'confirmPassword')].message">
            </span>
          </div>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="btn">
          New password
        </button>
      </form>
    </div>
  </div>
</section>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        newPassword: "",
        confirmPassword: "",
        errors: [],
      }
    },
    methods: {
      submitForm(e) {
        let validFirstPassword = true,
          validSecondPassword = true,
          validForm = true

        if (this.newPassword.length === 0) {
          validFirstPassword = false
          validForm = false
          if (this.errors.findIndex((e) => e.name === "newPassword") === -1) {
            this.errors = [
              ...this.errors,
              {
                name: "newPassword",
                message: "Please enter at least 8 characters password!",
              },
            ]
          }
        } else {
          validFirstPassword = true
        }

        if (this.confirmPassword.length === 0 || this.confirmPassword !== this.newPassword) {
          validSecondPassword = false
          validForm = false
          if (this.errors.findIndex((e) => e.name === "confirmPassword") === -1) {
            this.errors = [
              ...this.errors,
              {
                name: "confirmPassword",
                message: "Please make sure that the two passwords are the same!",
              },
            ]
          }
        } else {
          validSecondPassword = true
        }

        if (validFirstPassword && validSecondPassword) {
          validForm = true
        }

        if (validFirstPassword) {
          this.errors = this.errors.filter((e) => e.name !== "newPassword")
        }

        if (validSecondPassword) {
          this.errors = this.errors.filter((e) => e.name !== "confirmPassword")
        }

        if (validForm) {
          document.getElementById("resetForm").submit()
        }

      },
    },
  })
    .mount("#app")


</script>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
