<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/auth/login.css"/>
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="register-form">
  <%- include("../includes/errorMessage.ejs"); %>
  <div class="container content-container">
    <div class="">
      <h2>Register</h2>
      <div class="header-dash-line"></div>
    </div>
    <form action="/register" method="POST">
      <div class="form-floating my-3">
        <input type="text" name="name" id="name" placeholder="Enter your name"
               class="form-control <%= validationErrors.find(e => e.param === 'name') ? "is-invalid" : "" %>"
               value="<%= user.name %>"
        />
        <label for="name">Your Name</label>
      </div>
      <div class="form-floating my-3">
        <input type="email" name="email" id="email" placeholder="Enter your email"
               class="form-control <%= validationErrors.find(e => e.param === 'email') ? "is-invalid" : "" %>"
               value="<%= user.email %>"
        />
        <label for="email">Your Email</label>
      </div>
      <div class="form-floating my-3">
        <input type="tel" name="whatsapp_number" id="whatsapp_number" placeholder="Your whatsapp number"
               class="form-control <%= validationErrors.find(e => e.param === 'whatsapp_number') ? "is-invalid" : "" %>"
               value="<%= user.whatsapp_no %>"
        />
        <label for="whatsapp_number">Whatsapp Number</label>
      </div>
      <div class="form-floating my-3">
        <input type="text" name="specialization" id="specialization" placeholder="Enter your specialization"
               class="form-control <%= validationErrors.find(e => e.param === 'specialization') ? "is-invalid" : "" %>"
               value="<%= user.specialization %>"
        />
        <label for="specialization">Specialization</label>
      </div>
      <div class="form-floating my-3">
        <input type="password" name="password" id="password" placeholder="Enter your specialization"
               class="form-control <%= validationErrors.find(e => e.param === 'password') ? "is-invalid" : "" %>"
               value="<%= user.password %>"
        />
        <label for="password">Enter Your Password</label>
      </div>
      <div class="form-floating my-3">
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Enter your specialization"
               class="form-control <%= validationErrors.find(e => e.param === 'confirmPassword') ? "is-invalid" : "" %>"
               value="<%= user.confirmPassword %>"
        />
        <label for="confirmPassword">Confirm Your Password</label>
      </div>
      <% /*<div class="cart-courses">
          <h4>Course you buy:</h4>
          <span class="course-name"> course.name: &dollar; course.price </span>
          <input type="hidden" name="courseId" value=" course.course_id "/>
          <input type="hidden" name="courseName" value=" course.name "/>
          <input type="hidden" name="coursePrice" value=" course.price "/>
          <input type="hidden" name="_csrf" value=" csrfToken "/>
        </div>
        */ %>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
      <button class="btn" type="submit">
        Register
      </button>
    </form>
  </div>
</section>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
