<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/auth/login.css" />
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="register-form">
    <div class="content-container">
        <h2>Register</h2>
        <div class="header-dash-line"></div>
        <form action="/register" method="POST">
            <div class="my-form-control">
                <input type="text" name="name" id="name" placeholder="Enter your name" />
                <div class="name-error"></div>
            </div>
            <div class="my-form-control">
                <input type="email" name="email" id="email" placeholder="Enter your email" />
                <div class="email-error"></div>
            </div>
            <div class="my-form-control">
                <input type="tel" name="whatsapp_number" id="whatsapp_number" placeholder="Your whatsapp number" />
                <div class="number-error"></div>
            </div>
            <div class="my-form-control">
                <input type="text" name="specialization" id="specialization" placeholder="Enter your specialization" />
                <div class="specialization-error"></div>
            </div>
            <div class="cart-courses">
                <h4>Course you buy:</h4>
                <span class="course-name"><%= course.name %>: &dollar;<%= course.price %></span>
                <input type="hidden" name="courseId" value="<%= course.course_Id %>" />
                <input type="hidden" name="courseName" value="<%= course.name %>" />
                <input type="hidden" name="coursePrice" value="<%= course.price %>" />
            </div>
            <button class="btn">
                Proceed To Checkout
            </button>
        </form>
    </div>
</section>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
