<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/auth/login.css"/>
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="register-form">
  <div class="container">
    <div class="content-container">
      <% if (errorMessage) { %>
        <div class="error-container">
          <%- errorMessage %>
        </div>
      <% } %>

      <h2>Register</h2>
      <div class="header-dash-line"></div>
      <form action="/register" method="POST" class="opinions">
        <div class="form-floating my-3">
          <input type="text" name="name" id="name" placeholder="Enter your name" class="form-control"/>
          <label for="name">Your Name</label>
        </div>
        <div class="form-floating my-3">
          <input type="email" name="email" id="email" placeholder="Enter your email" class="form-control"/>
          <label for="email">Your Email</label>
        </div>
        <div class="form-floating my-3">
          <input type="tel" name="whatsapp_number" id="whatsapp_number" placeholder="Your whatsapp number"
                 class="form-control"/>
          <label for="whatsapp_number">Whatsapp Number</label>
        </div>
        <div class="form-floating my-3">
          <input type="text" name="specialization" id="specialization" placeholder="Enter your specialization"
                 class="form-control"/>
          <label for="specialization">Specialization</label>
        </div>
        <div class="cart-courses">
          <h4>Course you buy:</h4>
          <span class="course-name"><%= course.name %>: &dollar;<%= course.price %></span>
          <input type="hidden" name="courseId" value="<%= course.course_id %>"/>
          <input type="hidden" name="courseName" value="<%= course.name %>"/>
          <input type="hidden" name="coursePrice" value="<%= course.price %>"/>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        </div>
        <button class="btn" type="submit">
          Proceed To Checkout
        </button>
      </form>
    </div>
  </div>
</section>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
