<nav class="dashboard-nav" id="dashboard-navbar">
  <section class="navbar-links-container">
    <div class="navbar-brand">
      <a class="reset-link active" href="/">Dr. Wasam Nageib</a>
      <button class="navbar-toggler d-sm-block d-lg-none" type="button" id="nav-button">
        <span class="navbar-toggler-icon">
          <%- include('../../public/imgs/svgs/navbar_icon.svg') %>
        </span>
      </button>
    </div>
    <div class="logged-in-user">
      <div class="user-img">
        <img src="/imgs/imgs/userthumbnail.png" alt="user-thumbnail"/>
      </div>
      <div class="user-info">
      <span class="user-type">
      Owner
    </span>
        <span class="user-name">
      Dr. Wesam
    </span>
      </div>
    </div>
    <div class="nav-links">
      <ul class="list-unstyled">
        <li class="nav-item">
          <a class="nav-link reset-link <%- path === "/dashboard/overview" ? "active" : ""; %>" aria-current="page"
             href="/dashboard/overview">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  reset-link <%- path === "/dashboard/users" ? "active" : ""; %>"
             href="/dashboard/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  reset-link <%- path === "/dashboard/rounds" ? "active" : ""; %>"
             href="/dashboard/rounds">Rounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link reset-link <%- path === "/dashboard/courses" ? "active" : ""; %>"
             href="/dashboard/courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link reset-link <%- path === "/dashboard/messages" ? "active" : ""; %>"
             href="/dashboard/messages">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link reset-link <%- path === "/dashboard/opinions" ? "active" : ""; %>"
             href="/dashboard/opinions">Opinions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link reset-link <%- path === "/dashboard/payments" ? "active" : ""; %>"
             href="/dashboard/payments">Payments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link reset-link <%- path === "/dashboard/about" ? "active" : ""; %>"
             href="/dashboard/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link reset-link <%- path === "/dashboard/discounts" ? "active" : ""; %>"
             href="/dashboard/discounts">Discounts</a>
        </li>
      </ul>
    </div>
  </section>

  <div class="navbar-footer">
    <div class="info">
      <a href="/"><%- include('../../public/imgs/svgs/info.svg') %></a>
    </div>
    <div class="logout">
      <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken; %>"/>
        <button type="submit" class="reset-btn">
          <%- include('../../public/imgs/svgs/logout.svg') %>
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="show-nav remove-show-button" id="show-nav-button">
  Menu
  <button class="navbar-toggler d-sm-block d-lg-none" type="button">
    <span class="navbar-toggler-icon">
    <%- include('../../public/imgs/svgs/navbar_icon.svg') %>
  </span>
  </button>
</div>

<script>
  const navigationButton = document.querySelector("#nav-button");
  const dashboardNavigation = document.querySelector("#dashboard-navbar");
  const showNavButton = document.querySelector("#show-nav-button")

  navigationButton.addEventListener("click", (btn) => {
    dashboardNavigation.classList.toggle("remove-nav");
    showNavButton.classList.remove("remove-show-button")
  })

  showNavButton.addEventListener("click", () => {
    dashboardNavigation.classList.remove("remove-nav");
    showNavButton.classList.remove("remove-show-button")
  })

</script>
