<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">Dr. Wasam Naguib</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link <%- path === '/' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  <%- path === '/courses' ? 'active' : '' %>" href="/courses">Courses</a>
        </li>

        <li class="nav-item">
          <a class="nav-link <%- path === '/aboutme' ? 'active' : '' %>" href="/aboutme">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- path === '/contact' ? 'active' : '' %>" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link login-button btn" href="/courses">
            Buy now
          </a>
        </li>
        <% if (isAuthenticated) { %>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/overview">
              Dashboard
            </a>
          </li>
        <% } %>
        <!--<li class="nav-item">
          <a class="nav-link <%- path === '/cart' ? 'active' : '' %>" href="/cart">
            <%- /*include('../../public/imgs/svgs/cart.svg') */ %>
          </a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>