<nav aria-label="navigation" class="my-3">
  <ul class="pagination justify-content-center">
    <% if (numberOfLinks) { %>
      <% for (let i = 0; i < numberOfLinks; i++) { %>
        <li class="page-item  <%= activePage === i ? 'active' : "" %>">
          <a class="page-link"
             href="<%= path %>/?page=<%= i + 1 %>" <%- activePage ? `aria-current="page"` : "" %>>
            <%= i + 1 %>
          </a>
        </li>
      <% } %>
    <% } %>
  </ul>
</nav>
