<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css"/>
<link rel="stylesheet" href="/css/dashboard/dashboard.css"/>
<link rel="stylesheet" href="/css/dashboard/courses.css">
<link rel="stylesheet" href="/css/dashboard/about.css"/>
</head>
<body>

<section class="courses certificates">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-3">
        <%- include("../includes/dashboard-navbar.ejs"); %>
      </div>
      <div class="col-9">
        <div class="content">
          <main class="content-header">
            <div class="custom-head">
              <h2>Certificates Page</h2>
              <span></span>
            </div>
            <a class="btn btn-success" href="/dashboard/add-new-about">
              Add new certificate
            </a>
          </main>

          <div class="courses-data">
            <div class="table-head">
              <span class="certificate-rank">Certificate</span>
              <span class="certificate-update">Update Certificate</span>
              <span class="certificate-delete">Delete Certificate</span>
            </div>
            <% certificates.forEach(certificate => { %>
              <div class="table-row">
                <span class="course-rank"><img src="/downloaded_images/<%= certificate.certificate_img; %>"
                                               alt="<%- certificate.certificate_id %>" class="img-fluid"/></span>
                <div class="course-update">
                  <a href="/dashboard/edit-course/<%= certificate.certificate_id %>?edit=true" class="btn btn-success">Update
                    Certificate</a>
                </div>
                <div class="course-delete">
                  <form action="/dashboard/delete-certificate" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken; %>"/>
                    <input type="hidden" name="certificateId" value="<%= certificate.certificate_id; %>">
                    <button type="submit" class="btn btn-danger">Delete Certificate</button>
                  </form>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../includes/bottom_part.ejs"); %>
