<%- include("../includes/top_part.ejs"); %>
<!-- Dashboard Globals -->
<%- include("../includes/dashboard_includes.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css"/>
<link rel="stylesheet" href="/css/dashboard/dashboard.css"/>
<link rel="stylesheet" href="/css/dashboard/courses.css"/>
</head>
<body>
courses
<section class="certificate">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-3">
        <%- include("../includes/dashboard-navbar.ejs"); %>
      </div>
      <div class="col-9">
        <div class="content">
          <div class="custom-head">
            <h2>
              <% if (editMode === "true") { %>
                <%= "Update about"; %>
              <% } else { %>
                <%= "Add new about"; %>
              <% } %>
            </h2>
            <span></span>
          </div>
          <% if (errorMessage) { %>
            <div class="error-container">
              <%- errorMessage; %>
            </div>
          <% } %>
          <form
            action="/dashboard/<% if (editMode === 'true') { %><%= "edit-certificate/" + certificate.certificate_id %><% } else { %>add-new-certificate<% } %>"
            method="POST" enctype="multipart/form-data">
            <div class="form-floating my-3">
              <input type="text" name="name" placeholder="Certificate Name"
                     class="form-control <%= validationErrors.find(e => e.param === 'name') ? "is-invalid" : "" %>"
                     value="<% if (editMode === 'true') { %><%= certificate.name %><% } %>" id="certificate_name"/>
              <label for="certificate_name">Certificate Name</label>
            </div>
            <div class="my-3">
              <input type="file" name="certificate_img" placeholder="Upload certificate image"
                     class="form-control editor-<%- certificate.certificate_id %> <%= validationErrors.find(e => e.param === 'certificate_img') ? "is-invalid" : "" %>"
                     accept="image/*"/>
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken; %>"/>
            <button type="submit" class="btn submitBtn">
              <% if (editMode === "true") { %>
                <%= "Update Certificate"; %>
              <% } else { %>
                <%= "Add new certificate"; %>
              <% } %>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../includes/bottom_part.ejs"); %>
