<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css" />
<link rel="stylesheet" href="/css/dashboard/dashboard.css" />
<link rel="stylesheet" href="/css/dashboard/courses.css">
<link rel="stylesheet" href="/css/dashboard/about.css" />

</head>
<body>

<section class="courses certificates" id="app">
  <%- include("../includes/dashboard-navbar.ejs"); %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <main class="content-header">
            <div class="custom-head">
              <h2>About us paragraphs</h2>
              <span></span>
            </div>
            <a class="btn btn-success" href="/dashboard/about/add-new-about">
              Edit about paragraphs
            </a>
          </main>

          <div v-html="paragraphs"></div>

          <hr>

          <div class="content-header">
            <div class="custom-head">
              <h2>Instructors</h2>
              <span></span>
            </div>
            <a class="btn btn-success" href="/dashboard/about/add-new-instructor">
              Add new instructor
            </a>
          </div>

          <table class="table align-middle table-responsive">
            <thead class="table-head">
            <tr>
              <th class="certificate-rank">#</th>
              <th>Instructor name</th>
              <th>Instructor Data</th>
              <th class="certificate-update">Update Certificate</th>
              <th class="certificate-delete">Delete Certificate</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <% certificates.forEach((certificate, index) => { %>
                <td>
                  <%= index + 1 %>
                </td>
                <td>

                </td>
                <td class="course-update">
                  <a href="/dashboard/edit-certificate/<%= certificate.certificate_id %>?edit=true"
                     class="btn btn-success">Update
                    Instructor Data</a>
                </td>
                <td class="course-delete">
                  <form action="/dashboard/delete-certificate" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <input type="hidden" name="certificateId" value="<%= certificate.certificate_id %>">
                    <button type="submit" class="btn btn-danger">Delete Instructor</button>
                  </form>
                </td>
              <% }) %>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<script src="/js/axios.min.js"></script>
<script>
  const { createApp } = Vue

  async function mounted() {
    this.paragraphs = (await axios.get('/dashboard/about/paragraphs-data')).data.paragraphs
    this.instructors = (await axios.get('/dashboard/about/instructors-data')).data.instructors
    console.log(this.paragraphs)
  }

  createApp({
    data() {
      return {
        paragraphs: ``,
        instructors: ''
      }
    },
    mounted
  }).mount('#app')
</script>

<%- include("../includes/bottom_part.ejs"); %>
