<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css" />
<link rel="stylesheet" href="/css/dashboard/dashboard.css" />
<link rel="stylesheet" href="/css/dashboard/courses.css" />
</head>
<body>

<section class="courses">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-3">
        <%- include("../includes/dashboard-navbar.ejs"); %>
      </div>
      <div class="col-9">
        <div class="content">
          <div class="custom-head">
            <h2>
              <% if (editMode === "true") { %>
                <%= "Update Course"; %>
              <% } else { %>
                <%= "Add new course"; %>
              <% } %>
            </h2>
            <span></span>
          </div>
          <form
            action="/dashboard/<% if (editMode === 'true') { %><%= "edit-course/" + course.course_id %><% } else { %>add-new-course<% } %>"
            method="POST"
            enctype="multipart/form-data">
            <div class="my-3">
              <input type="text" name="name" placeholder="Course Name" class="form-control"
                     value="<% if (editMode === 'true') { %><%= course.name %><% } %>" />
            </div>
            <div class="my-3">
              <input type="number" name="price" placeholder="Course Price" class="form-control"
                     value="<% if (editMode === 'true') { %><%= course.price %><% } %>" />
            </div>
            <div class="my-3">
              <input type="file" name="course_img" placeholder="Upload course image" class="form-control"
                     accept="image/*" />
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken; %>" />
            <button type="submit" class="btn">
              <% if (editMode === "true") { %>
                <%= "Update Course"; %>
              <% } else { %>
                <%= "Add new course"; %>
              <% } %>
            </button>
          </form>
        </div>
        <%- include("../includes/footer.ejs"); %>
      </div>
    </div>
  </div>
</section>

<%- include("../includes/bottom_part.ejs"); %>
