<%- include("../includes/top_part.ejs"); %>
<!-- Dashboard Globals -->
<%- include("../includes/dashboard_includes.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css"/>
<link rel="stylesheet" href="/css/dashboard/dashboard.css"/>
<link rel="stylesheet" href="/css/dashboard/courses.css"/>
<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
</head>
<body>

<section class="courses">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-3">
        <%- include("../includes/dashboard-navbar.ejs"); %>
      </div>
      <div class="col-9">
        <div class="content">
          <div class="custom-head">
            <h2>
              <% if (editMode === "true") { %>
                <%= "Update Course"; %>
              <% } else { %>
                <%= "Add new course"; %>
              <% } %>
            </h2>
            <span></span>
          </div>
          <form
            action="/dashboard/<% if (editMode === 'true') { %><%= "edit-course/" + course.course_id %><% } else { %>add-new-course<% } %>"
            method="POST" enctype="multipart/form-data">
            <div class="my-3">
              <input type="text" name="name" placeholder="Course Name" class="form-control"
                     value="<% if (editMode === 'true') { %><%= course.name %><% } %>"/>
            </div>
            <div class="my-3">
              <input type="number" name="price" placeholder="Course Price" class="form-control"
                     value="<% if (editMode === 'true') { %><%= course.price %><% } %>"/>
            </div>
            <div class="my-3">
              <textarea id="editor" name="description" placeholder="Course Description" class="form-control">

              </textarea>
              <!--              <div id="editor">

                            </div>-->
            </div>
            <div class="my-3">
              <input type="file" name="course_img" placeholder="Upload course image" class="form-control"
                     accept="image/*"/>
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken; %>"/>
            <button type="submit" class="btn submitBtn">
              <% if (editMode === "true") { %>
                <%= "Update Course"; %>
              <% } else { %>
                <%= "Add new course"; %>
              <% } %>
            </button>
          </form>
        </div>
        <%- include("../includes/footer.ejs"); %>
      </div>
    </div>
  </div>
</section>

<script type="module">

  const editorTag = document.querySelector("#editor");
  let editor;
  ClassicEditor
    .create(editorTag, {
      toolbar: ['bold', 'italic', 'bulletedList', 'numberedList']
    })
    .then(editorData => {
      editor = editorData;

      <% if (editMode === 'true') { %>
      editor.setData("<%- course.description %>")
      <% } %>
    })
    .catch(err => {
      console.error(err)
    })

  /*// import ClassicEditor from "https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js";
  // import axios from "https://unpkg.com/axios/dist/axios.min.js";

  const courseForm = document.querySelector('form')
  const courseName = document.querySelector('input[name="name"]')
  const coursePrice = document.querySelector('input[name="price"]')
  const courseImage = document.querySelector('input[name="course_img"]')
  const submitButton = document.querySelector(".submitBtn");
  let editor;
  const editorTag = document.querySelector("#editor");

  ClassicEditor
    .create(editorTag, {
      toolbar: ['bold', 'italic', 'bulletedList', 'numberedList']
    })
    .then(editorData => {
      editor = editorData;

      <% if (editMode === 'true') { %>
      editor.setData("<%= course.description %>")
      <% } %>
    })
    .catch(err => {
      console.error(err)
    })

  courseImage.addEventListener('change', (event) => {
    const files = event.target.files;
    const formData = new FormData()
    formData.append('myFile', files[0])

    fetch('/saveImage', {
      method: 'POST',
      body: formData
    })
      .then(response => response.json())
      .then(data => {
        console.log(data)
      })
      .catch(error => {
        console.error(error)
      })
  })

  submitButton.addEventListener("click", (e) => {
    e.preventDefault();
    /!*console.log('form file: ', courseImage.files[0])
    console.log('form data: ', courseName.value, coursePrice.value)
    console.log('editor data: ', editor.getData())*!/
    /!*const bodyData = new FormData();
    bodyData.append("name", courseName.value)
    bodyData.append("price", coursePrice.value)
    bodyData.append("description", editor.getData())
    bodyData.append("file", courseImage.files[0])*!/

    // console.log('body_data: ', bodyData)

    <% if (editMode === 'true') { %>
    fetch
    ('<%= course.course_id %>', {
      method: 'post',
      headers: {
        'Content-Type': 'multipart/form-data; boundary=----WebKitFormBoundaryyEmKNDsBKjB7QEqu',
        // 'boundary': '----WebKitFormBoundaryyEmKNDsBKjB7QEqu',
        "x-csrf-token": "<%- csrfToken %>"
      },
      body: {
        name: courseName.value,
        price: coursePrice.value,
        description: editor.getData(),
        // file: courseImage.files[0]
      },
      file: courseImage.files[0]
    })
      .then(data => {
        console.log('sending result: ', data)
      })
      .catch(err => {
        console.error('sending error: ', err)
      })
    <% } else { %>
    <% } %>
  })
*/
</script>

<%- include("../includes/bottom_part.ejs"); %>
