<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css"/>
<link rel="stylesheet" href="/css/dashboard/dashboard.css"/>
<link rel="stylesheet" href="/css/dashboard/courses.css">
<link rel="stylesheet" href="/css/dashboard/about.css"/>

<style>
    .table-head {
        grid-template-columns: repeat(<%= tableHead.length %>, 1fr) !important;
    }

    .table-row {
        grid-template-columns: repeat(<%= tableHead.length %>, 1fr) !important;
    }

    td.<%= tableName.toLowerCase() %>-update a, td.<%= singleTableName.toLowerCase() %>-delete a {
        width: fit-content;
        margin: auto;
    }

    span.round-user {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px 20px;
    }

</style>
</head>
<body>

<section class="courses <%= tableName %>">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-3">
        <%- include("../includes/dashboard-navbar.ejs"); %>
      </div>
      <div class="col-9">
        <div class="content text-center">
          <%- include("../includes/errorMessage.ejs"); %>
          <main class="content-header">
            <div class="container">
              <div class="row">
                <div class="custom-head col-2">
                  <h2><%= tableName %></h2>
                  <span></span>
                </div>
                <% if ('searching' in customStuff) { %>
                  <form action="/dashboard/<%= tableName.toLowerCase() %>" method="get" class="offset-4 col-4">
                    <input type="search" name="search" placeholder="Search"
                           id="searching_users" class="form-control form-control"/>
                  </form>
                  <a class="btn btn-success col-2"
                     href="/dashboard/<%= tableName.toLowerCase() %>/add-new-<%= addingNewLink %>">
                    Add new <%= tableName %>
                  </a>
                <% } else { %>
                  <a class="btn btn-success offset-8 col-2"
                     href="/dashboard/<%= tableName.toLowerCase() %>/add-new-<%= addingNewLink %>">
                    Add new <%= tableName %>
                  </a>
                <% } %>
              </div>
            </div>
          </main>
          <div class="table-responsive">
            <table class="table align-middle ">
              <thead>
              <tr>
                <% tableHead.forEach(column => { %>
                  <th scope='col' class="<%= tableName %>-<%= column.name %>"><%- column.title %></th>
                <% }) %>
              </tr>
              </thead>
              <tbody>
              <% tableRows.forEach(({
                                      data,
                                      primaryKey,
                                      updateInputName
                                    }, index) => { %>
                <tr>
                  <td class="table-active">
                    <%= index + 1 %>
                  </td>
                  <% Object.entries(data.item).forEach((item, index) => { %>
                    <td class="<%- item[0] %>">
                      <%- item[1] %>
                    </td>
                  <% }) %>
                  <td class="<%= tableName.toLowerCase() %>-update">
                    <a
                      href="/dashboard/<%= tableName.toLowerCase() %>/edit-<%= singleTableName.toLowerCase() %>/<%= primaryKey %>?edit=true"
                      class="btn btn-success">
                      Update <%= tableName %>
                    </a>
                  </td>
                  <td class="<%= tableName.toLowerCase() %>-delete">
                    <form
                      action="/dashboard/<%= tableName.toLowerCase() %>/delete-<%= tableName.toLowerCase() %>"
                      method="post">
                      <input type="hidden" name="_csrf" value="<%= csrfToken; %>"/>
                      <input type="hidden" name="<%- updateInputName %>" value="<%= primaryKey; %>">
                      <button type="submit" class="btn btn-danger">Delete <%= tableName %></button>
                    </form>
                  </td>
                </tr>
              <% }); %>
              </tbody>
            </table>
          </div>
          <% if ('pagination' in customStuff) { %>
            <%- include('../includes/pagination.ejs', { numberOfLinks: customStuff.pagination.numberOfLinks, activePage: customStuff.pagination.activePage }); %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
</script>

<%- include("../includes/bottom_part.ejs"); %>
