<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css"/>
<link rel="stylesheet" href="/css/dashboard/dashboard.css"/>
<link rel="stylesheet" href="/css/dashboard/courses.css">
<link rel="stylesheet" href="/css/dashboard/about.css"/>

<style>
    .table-head {
        grid-template-columns: repeat(<%= tableHead.length %>, 1fr) !important;
    }

    .table-row {
        grid-template-columns: repeat(<%= tableHead.length %>, 1fr) !important;
    }

    td.<%= singleTableName.toLowerCase() %>-update a, td.<%= singleTableName.toLowerCase() %>-delete a {
        width: fit-content;
        margin: auto;
    }

    span.round-user {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px 20px;
    }

</style>
</head>
<body>

<section class="courses <%= tableName %>">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-3">
        <%- include("../includes/dashboard-navbar.ejs"); %>
      </div>
      <div class="col-9">
        <div class="content text-center">
          <%- include("../includes/errorMessage.ejs"); %>
          <main class="content-header">
            <div class="custom-head">
              <h2><%= tableName %></h2>
              <span></span>
            </div>
            <a class="btn btn-success" href="/dashboard/<%= tableName.toLowerCase() %>/add-new-<%= addingNewLink %>">
              Add new <%= tableName %>
            </a>
          </main>
          <div class="table-responsive">
            <table class="table align-middle ">
              <thead>
              <tr>
                <% tableHead.forEach(column => { %>
                  <th scope='col' class="<%= tableName %>-<%= column.name %>"><%- column.title %></th>
                <% }) %>
              </tr>
              </thead>
              <tbody>
              <% tableRows.forEach(({
                                      data,
                                      primaryKey,
                                      updateInputName
                                    }, index) => { %>
                <tr>
                  <td class="table-active">
                    <%= index + 1 %>
                  </td>
                  <% Object.entries(data.item).forEach((item, index) => { %>
                    <td class="<%- singleTableName %>-<%- item %>">
                      <%- item[1] %>
                    </td>
                  <% }) %>
                  <td class="<%= singleTableName.toLowerCase() %>-update">
                    <a
                      href="/dashboard/<%= singleTableName.toLowerCase() %>/edit-<%= singleTableName.toLowerCase() %>/<%= primaryKey %>?edit=true"
                      class="btn btn-success">
                      Update <%= singleTableName %>
                    </a>
                  </td>
                  <td class="<%= singleTableName.toLowerCase() %>-delete">
                    <form
                      action="/dashboard/<%= singleTableName.toLowerCase() %>/delete-<%= singleTableName.toLowerCase() %>"
                      method="post">
                      <input type="hidden" name="_csrf" value="<%= csrfToken; %>"/>
                      <input type="hidden" name="<%- updateInputName %>" value="<%= primaryKey; %>">
                      <button type="submit" class="btn btn-danger">Delete <%= singleTableName %></button>
                    </form>
                  </td>
                </tr>
              <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../includes/bottom_part.ejs"); %>
