<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css"/>
<link rel="stylesheet" href="/css/dashboard/dashboard.css"/>
<link rel="stylesheet" href="/css/dashboard/courses.css"/>
<link rel="stylesheet" href="/css/dashboard/opinions.css"/>
</head>
<body>

<section class="courses opinions">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-3">
        <%- include("../includes/dashboard-navbar.ejs"); %>
      </div>
      <div class="col-9">
        <div class="content">
          <main class="content-header">
            <div class="custom-head">
              <h2>Opinions</h2>
              <span></span>
            </div>
          </main>

          <div class="courses-data opinions-data">
            <div class="table-head">
              <span class="opinion-id">Opinion ID</span>
              <span class="opinion-name">Sender Name</span>
              <span class="opinion-course">Sender Course</span>
              <span class="opinion-message">Sender Message</span>
              <!--              <span class="course-update">Update Opinion</span>-->
              <span class="course-delete">Delete Opinion</span>
            </div>
            <% opinions.forEach(opinion => { %>
              <div class="table-row">
                <span class="opinion-id"><%= opinion.opinion_id; %></span>
                <span class="opinion-name"><%= opinion.sender_name; %></span>
                <span class="opinion-course"><%= opinion.sender_course; %></span>
                <span class="opinion-message"><%= opinion.sender_message; %></span>
                <!--<div class="opinion-update">
                  <a href="/dashboard/edit-opinion/<%= opinion.opinion_id %>" class="btn btn-success">Update Opinion</a>
                </div>-->
                <div class="course-delete">
                  <form action="/dashboard/delete-opinion" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken; %>"/>
                    <input type="hidden" name="opinionId" value="<%= opinion.opinion_id %>">
                    <button type="submit" class="btn btn-danger">Delete Opinion</button>
                  </form>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
        <%- include("../includes/footer.ejs"); %>
      </div>
    </div>
  </div>
</section>

<%- include("../includes/bottom_part.ejs"); %>
