<%- include("../includes/top_part.ejs"); %>
<!-- Dashboard Globals -->
<%- include("../includes/dashboard_includes.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css" />
<link rel="stylesheet" href="/css/dashboard/dashboard.css" />
<link rel="stylesheet" href="/css/dashboard/overview.css" />
<link rel="stylesheet" href="/css/dashboard/courses.css">
</head>
<body>

<section class="overview">
  <%- include("../includes/dashboard-navbar.ejs"); %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <main class="row">
            <% /*Object.keys(statsNumbers).forEach(key => {                                                                                                                                   %>
            <div class="custom-head">
              <h2>Number
                of <%-                                                                                                                                   key                                                                                                                                   %></h2>
              <span></span>
            </div>
            <div
              class="fs-3"><%=                                                                                                                                   statsNumbers[key]                                                                                                                                   %></div>
            <%                                                                                                                                   })*/ %>
            <canvas id="number-of-users"></canvas>
            <canvas id="number-of-courses"></canvas>
            <canvas id="number-of-payments"></canvas>
          </main>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/moment.min.js"></script>
<script src="/js/chart.min.js"></script>
<script>

  const createChart = (data, canvasName, xKey, yKey, min = 0, max = 12, chartType = 'line') => {
    let usersCreatedAt;
    if (typeof xKey === 'string') {
      usersCreatedAt = data.map((user) => parseInt(moment(user[xKey]).format('MM')))
    } else usersCreatedAt = xKey

    let usersNames

    if (typeof yKey === 'string') {
      usersNames = data.map((user) => user[yKey])
    } else {
      usersNames = yKey
    }

    const ctx = document.getElementById(`number-of-${canvasName}`).getContext('2d');
    const myChart = new Chart(ctx, {
      type: chartType,
      data: {
        labels: usersNames,
        datasets: [{
          label: `number of ${canvasName}`,
          data: usersCreatedAt,
          backgroundColor: [

            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'

          ],
          borderColor: [
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1,
          fill: false
        }]
      },
      options: {
        scales: {
          y: {
            min,
            max,
            ticks: {
              stepSize: 1
            }
          }
        }
      }
    });
  }
  const dataArrObj = JSON.parse(`<%- JSON.stringify(statsNumbers) %>`)

  dataArrObj.payments = dataArrObj.payments.filter(({ status }) => status === 'success')
  console.log([dataArrObj.payments.length])

  createChart(dataArrObj.users, 'users', 'createdAt', 'name', 1, 12)
  createChart(dataArrObj.courses, 'courses', 'createdAt', 'name', 1, 5)
  createChart(dataArrObj.payments, 'payments', [dataArrObj.payments.length], [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December"
  ], 1, dataArrObj.payments.length, 'bar')

</script>


<%- include("../includes/bottom_part.ejs"); %>
