<%- include("../includes/top_part.ejs"); %>
<!-- Dashboard Globals -->
<%- include("../includes/dashboard_includes.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css"/>
<link rel="stylesheet" href="/css/dashboard/dashboard.css"/>
<link rel="stylesheet" href="/css/dashboard/overview.css"/>
<link rel="stylesheet" href="/css/dashboard/courses.css">
</head>
<body>

<section class="overview">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-lg-3">
        <%- include("../includes/dashboard-navbar.ejs"); %>
      </div>
      <div class="col-lg-9">
        <div class="content p-5">
          <main class="content-header">

            <% Object.keys(statsNumbers).forEach(key => { %>
              <div class="custom-head">
                <h2>Number of <%- key %></h2>
                <span></span>
              </div>
              <div class="fs-3"><%= statsNumbers[key]; %></div>
            <% }) %>
          </main>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../includes/bottom_part.ejs"); %>
