<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css" />
<link rel="stylesheet" href="/css/dashboard/dashboard.css" />
<link rel="stylesheet" href="/css/dashboard/courses.css" />
</head>
<body>

<section class="courses">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-3">
        <%- include("../includes/dashboard-navbar.ejs"); %>
      </div>
      <div class="col-9">
        <div class="content">
          <div class="custom-head">
            <h2>
              Update User
            </h2>
            <span></span>
          </div>
          <form
            action="/dashboard/edit-user/<%= user.user_id; %>"
            method="POST">
            <div class="my-3">
              <input type="text" name="name" placeholder="User Name" class="form-control"
                     value="<%= user.name; %>" />
            </div>
            <div class="my-3">
              <input type="text" name="email" placeholder="User Email" class="form-control"
                     value="<%= user.email; %>" />
            </div>
            <div class="my-3">
              <input type="tel" name="whatsapp_no" placeholder="User Number" class="form-control"
                     value="<%= user.whatsapp_no; %>" />
            </div>
            <div class="my-3">
              <input type="text" name="specialization" placeholder="User Specialization" class="form-control"
                     value="<%= user.specialization; %>" />
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken; %>" />
            <button type="submit" class="btn">
              Update User
            </button>
          </form>
        </div>
        <%- include("../includes/footer.ejs"); %>
      </div>
    </div>
  </div>
</section>

<%- include("../includes/bottom_part.ejs"); %>
