<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/auth/login.css"/>
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="opinions-form">
  <div class="container">
    <div class="content-container">
      <h2>Leave your feedback about our courses</h2>
      <div class="header-dash-line"></div>
      <form action="/opinions" method="POST" class="opinions">
        <%- include("../includes/errorMessage"); %>
        <div class="form-floating my-3">
          <input type="text" name="name" id="opinion_name" class="form-control" placeholder="Your name"/>
          <label for="opinion_name">Your Name</label>
        </div>
        <div class="form-floating my-3">
          <input type="email" name="email" id="opinion_email" class="form-control" placeholder="Your name"/>
          <label for="opinion_email">Your Email</label>
        </div>
        <select name="sender_course" class="form-control my-3" id="enrolled-course">
          <option value="">Select your course</option>
          <option value="full">CPHQ Full Course</option>
          <option value="focused">CPHQ Focused Revision</option>
          <option value="revision">CPHQ Revision only</option>
        </select>
        <div class="form-floating my-3">
          <textarea name="opinion" id="opinion" placeholder="Your Opinion" class="form-control"
                    minlength="80"></textarea>
          <label for="opinion">Your Opinion</label>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        <button class="btn">Send opinion</button>
      </form>
    </div>
  </div>
</section>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
