<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/courses/courses.css" />
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="featured-courses">
    <div class="small-brief text-center">
        <%- include('../../public/imgs/svgs/feed.svg') %>
        Courses By Exam
    </div>
    <div class="container">
        <div class="row">
            <div class="featured-course-container col">
                <div class="featured-courses-container">
                    <div class="course-title-container">
                        <div class="course-thumbnail">
                            <img src="/imgs/imgs/book.png" alt="Course Thumbnail" />
                        </div>
                        <div class="course-title">
                            CPHQ Introduction Course
                        </div>
                    </div>
                    <p class="course-about">
                        Certified Professional in Healthcare Quality Preparatory course
                    </p>
                    <button class="btn-outlined">
                        View Course
                    </button>
                </div>
            </div>
            <div class="featured-course-container col">
                <div class="featured-courses-container">
                    <div class="course-title-container">
                        <div class="course-thumbnail">
                            <img src="/imgs/imgs/book.png" alt="Course Thumbnail" />
                        </div>
                        <div class="course-title">
                            CPHQ Introduction Course
                        </div>
                    </div>
                    <p class="course-about">
                        Certified Professional in Healthcare Quality Preparatory course
                    </p>
                    <button class="btn-outlined">
                        View Course
                    </button>
                </div>
            </div>
            <div class="featured-course-container col">
                <div class="featured-courses-container">
                    <div class="course-title-container">
                        <div class="course-thumbnail">
                            <img src="/imgs/imgs/book.png" alt="Course Thumbnail" />
                        </div>
                        <div class="course-title">
                            CPHQ Introduction Course
                        </div>
                    </div>
                    <p class="course-about">
                        Certified Professional in Healthcare Quality Preparatory course
                    </p>
                    <button class="btn-outlined">
                        View Course
                    </button>
                </div>
            </div>
            <div class="featured-course-container col">
                <div class="featured-courses-container">
                    <div class="course-title-container">
                        <div class="course-thumbnail">
                            <img src="/imgs/imgs/book.png" alt="Course Thumbnail" />
                        </div>
                        <div class="course-title">
                            CPHQ Introduction Course
                        </div>
                    </div>
                    <p class="course-about">
                        Certified Professional in Healthcare Quality Preparatory course
                    </p>
                    <button class="btn-outlined">
                        View Course
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="small-brief text-center">
        <%- include('../../public/imgs/svgs/grid-collection.svg') %>
        All Courses
    </div>
</section>
<section class="all-courses">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h3>Filter By</h3>
                <hr>
                <div>Type</div>
                <div class="first-category">
                    <input type="checkbox" name="category1" id="category1" /> <label for="category1">Categroy 1</label>
                    <br />
                    <input type="checkbox" name="category1" id="category2" /> <label for="category2">Categroy 2</label>
                    <br />
                    <input type="checkbox" name="category1" id="category3" /> <label for="category3">Categroy 3</label>
                </div>

                <hr>
                <div>Type</div>
                <div class="first-category">
                    <input type="checkbox" name="category1" id="category4" /> <label for="category4">Categroy 4</label>
                    <br />
                    <input type="checkbox" name="category1" id="category5" /> <label for="category5">Categroy 5</label>
                    <br />
                    <input type="checkbox" name="category1" id="category6" /> <label for="category6">Categroy 6</label>
                </div>

                <hr>
                <div>Type</div>
                <div class="first-category">
                    <input type="checkbox" name="category1" id="category7" /> <label for="category7">Categroy 7</label>
                    <br />
                    <input type="checkbox" name="category1" id="category8" /> <label for="category8">Categroy 8</label>
                    <br />
                    <input type="checkbox" name="category1" id="category9" /> <label for="category9">Categroy 9</label>
                </div>
            </div>
            <div class="col">
                <div class="course-sort">
                    <input list="sorting" placeholder="Sorting" />
                    <datalist id="sorting">
                        <option value="Price" />
                        <option value="Exam" />
                        <option value="Most Popular" />
                    </datalist>
                </div>
                <div class="row all-courses-cont">
                    <div class="col-4">
                        <a href="/courses/1" class="reset-link">
                            <div class="course">
                                <img src="/imgs/imgs/course_img.png" alt="CPHQ Preparation Course"
                                     class="course-thumbnail" />
                                <div class="course-footer">
                                    <div class="course-title">CPHQ Online Course</div>
                                    <div class="course-price">&dollar;300.00</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <div class="course">
                            <img src="/imgs/imgs/course_img.png" alt="CPHQ Preparation Course"
                                 class="course-thumbnail" />
                            <div class="course-footer">
                                <div class="course-title">CPHQ Online Course</div>
                                <div class="course-price">&dollar;300.00</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="course">
                            <img src="/imgs/imgs/course_img.png" alt="CPHQ Preparation Course"
                                 class="course-thumbnail" />
                            <div class="course-footer">
                                <div class="course-title">CPHQ Online Course</div>
                                <div class="course-price">&dollar;300.00</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="course">
                            <img src="/imgs/imgs/course_img.png" alt="CPHQ Preparation Course"
                                 class="course-thumbnail" />
                            <div class="course-footer">
                                <div class="course-title">CPHQ Online Course</div>
                                <div class="course-price">&dollar;300.00</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="course">
                            <img src="/imgs/imgs/course_img.png" alt="CPHQ Preparation Course"
                                 class="course-thumbnail" />
                            <div class="course-footer">
                                <div class="course-title">CPHQ Online Course</div>
                                <div class="course-price">&dollar;300.00</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="course">
                            <img src="/imgs/imgs/course_img.png" alt="CPHQ Preparation Course"
                                 class="course-thumbnail" />
                            <div class="course-footer">
                                <div class="course-title">CPHQ Online Course</div>
                                <div class="course-price">&dollar;300.00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
