<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/courses/courses.css" />
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<div id="app">
  <section class="featured-courses">
    <div class="small-brief text-center">
      <%- include('../../public/imgs/svgs/feed.svg') %>
      Courses By Exam
    </div>
    <div class="container">
      <div class="row">
        <template v-for="course in randomCourses">
          <div class="featured-course-container col-lg-4 col-sm-12">
            <div class="featured-courses-container ">
              <div class="course-title-container">
                <div class="course-thumbnail">
                  <img :src=`/downloaded_images/${course.course_img}` :alt="course.name"
                       class="w-100 " />
                </div>
                <div class="course-title">
                  {{ course.name }}
                </div>
              </div>
              <p class="course-about">
                <bdi>
                  {{ course.course_thumbnail }}
                </bdi>
              </p>
              <a :href=`/courses/${course.course_id}` class="reset-link btn-outlined">
                View Course
              </a>
            </div>
          </div>
        </template>
      </div>
    </div>

    <div class="small-brief text-center">
      <%- include('../../public/imgs/svgs/grid-collection.svg') %>
      All Courses
    </div>
  </section>
  <section class="all-courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col my-sm-3 my-xl-0">
          <h3>Filter By</h3>
          <hr>
          <div v-for="(cat, index) in coursesCategories" class="form-check">
            <input type="checkbox" :name="`category-${index}`" :id="`category-${index}`" @click='selectCourse'
                   class="form-check-input"
                   :value="cat"
                   :key="index" />
            <label :for="`category-${index}`" class="form-check-label">&nbsp;{{ cat }}</label>
          </div>
          <!--<div>Exam</div>
          <div class="first-category">
            <input type="checkbox" name="category1" id="category1" /> <label for="category1">CPHQ</label>
            <br />
            <input type="checkbox" name="category1" id="category1" /> <label for="category1">CBIC</label>
          </div>

          <hr>
          <div>Language</div>
          <div class="first-category">
            <input type="checkbox" name="category1" id="category4" /> <label for="category4">English</label>
            <br />
            <input type="checkbox" name="category1" id="category5" /> <label for="category5">Arabic</label>
          </div>-->
        </div>
        <div class="col">
          <div class="course-sort">
            <input list="sorting" placeholder="Search in courses" />
          </div>
          <div class="row all-courses-cont">
            <%- include('../includes/errorMessage.ejs'); %>
            <div v-for="course in courses" class="col-lg-4 col-sm-12">
              <a :href="`/courses/${course.course_id}`" class="reset-link">
                <div class="course">
                  <img :src="`/downloaded_images/${course.course_img}`" :alt="course.name"
                       class="course-thumbnail" loading="lazy" />
                  <div class="course-footer">
                    <div class="course-title">{{ course.name }}</div>
                    <div class="course-price">&dollar; {{ course.price }}</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<%- include("../includes/footer.ejs"); %>

<script type="text/x-template" id="course">
  <div v-for="op in opinions">
    {{ op }}
  </div>
</script>


<script src="/js/axios.min.js"></script>

<script async>

  async function mounted() {
    this.coursesCategories = (await axios.get("/courses/courses-categories")).data.coursesCategories
    this.courses = (await axios.get("/courses/all-courses")).data.courses
    this.defaultCourses = [...this.courses]
    this.randomCourses = this.defaultCourses.sort(() => Math.random() - Math.random()).slice(0, 3)
  }

  const app = Vue.createApp({
    data() {
      return {
        courses: "",
        coursesCategories: "",
        searching: [],
        defaultCourses: [],
        randomCourses: [],
      }
    },
    methods: {
      selectCourse(e) {
        if (this.searching.findIndex(cat => cat === e.target.value) === -1) {
          this.searching = [...this.searching, e.target.value.toString()]
        } else {
          this.searching.splice(this.searching.findIndex(cat => cat === e.target.value), 1)
        }

        this.courses = this.defaultCourses.filter((item) => {
          if (this.searching.findIndex(i => i === item.course_category) > -1) {
            return item
          }
        })

        if (this.searching.length === 0) {
          this.courses = this.defaultCourses
        }
      },
    },
    mounted,
  })

  app.component("testing-a", {
    props: ["opinions"],
    template: `#course`,
  })

  app.mount("#app")

</script>

<%- include("../includes/bottom_part.ejs"); %>
