<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/courses/courses.css" />
<link rel="stylesheet" href="/css/courses/single_course.css"
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="single-course-section">
    <div class="container">
        <div class="bread-crumb">
            <div class="crumb-links">
                <a href="/" class="home-page reset-link">Home</a> /
                <a href="/courses" class="courses-page reset-link">Courses</a> /
                <a href="/<%- courseLink %>" class="course-name-page reset-link"><%- courseName %></a>
            </div>
            <div class="next-prev">
                <a href="/courses/1" class="reset-link">
                    <%- include('../../public/imgs/svgs/right_arrow.svg') %>
                    Prev
                </a>
                |
                <a href="/courses/2" class="reset-link">
                    Next
                    <%- include('../../public/imgs/svgs/left_arrow.svg') %>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-5 offset-1">
                <div class="course-image">
                    <img src="/imgs/imgs/course_img.png" alt="Course Thumbnail" class="w-100 "/>
                </div>
            </div>
            <div class="col-4">
                <div class="course-data">
                    <h2>
                        <%- courseName %>
                    </h2>
                    <div class="course-price">
                       &dollar;<%- coursePrice %>
                    </div>
                    <div class="course-description">
                        <%- courseDescription %>
                    </div>
                    <div class="course-type">
                        <strong>Type 1</strong>
                        <span>Category 1</span>
                    </div>
                    <div class="course-type">
                        <strong>Type 2</strong>
                        <span>Category 2</span>
                    </div>
                    <button class="btn">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
