<%- include("../../includes/top_part.ejs"); %>
<!-- Dashboard Globals -->
<%- include("../../includes/dashboard_includes.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css" />
<link rel="stylesheet" href="/css/dashboard/dashboard.css" />
<link rel="stylesheet" href="/css/dashboard/courses.css" />
<link rel="stylesheet" href="/css/dashboard/round_form.css">
</head>
<body>

<section class="rounds courses">
  <%- include("../../includes/dashboard-navbar.ejs"); %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="custom-head">
            <h2>
              <% if (editMode === true) { %>
                <%= "Update Round" %>
              <% } else { %>
                <%= "Add new round" %>
              <% } %>
            </h2>
            <span></span>
          </div>
          <%- include('../../includes/errorMessage.ejs'); %>
          <form
            action="/dashboard/rounds/<% if (editMode === true) { %><%= "edit-round/" + round.round_id %><% } else { %>add-new-round<% } %>"
            method="POST">
            <select name="round_course" class="form-select form-control my-3" aria-label="Default select example"
                    id="enrolled-course" <%- editMode ? "disabled=disabled" : "" %>>
              <% if (editMode === true) { %>
                <option selected
                        value="<%- roundCourse.course_id %>">
                  <%= roundCourse.name %>
                </option>
              <% } else { %>
                <option selected="<%- Object.keys(round).length === 0 ? "selected" : "" %>" value="">
                  Please Select A Course
                </option>
                <% courses.forEach(course => { %>
                  <option <%- round.round_course === course.name ? "selected=\"\"" : "" %>
                    value="<%- course.course_id %>">
                    <%= course.name %>
                  </option>
                <% }) %>

                <% if (validationErrors.find(e => e.param === "round_course")) { %>
                  <div class="alert alert-danger" role="alert">
                    Please Select a course!
                  </div>
                <% } %>
              <% } %>
            </select>

            <div class="form-floating my-3">
              <input type="date" name="round_date" placeholder="Round Date"
                     class="form-control <%= validationErrors.find(e => e.param === "round_date") ? "is-invalid" : "" %>"
                     value="<% if (editMode === true) { %><%= moment(round.round_date).format("YYYY-MM-DD") %><% } %>"
                     id="round_date" />
              <label for="round_date">Round Date</label>
            </div>


            <div class="my-3">
              <textarea name="round_link" placeholder="Round Links"
                        class="form-control editor-<%- round.round_id %>"
              >
              </textarea>
              <% if (validationErrors.find(e => e.param === "round_link")) { %>
                <div class="alert alert-danger" role="alert">Please enter a valid description</div>
              <% } %>
            </div>

            <div class="users-selection-container">
              <% if (editMode === true) { %>
                <div class="row">
                  <div class="col-6">
                    <h3>Current Round People -
                      <%- roundUsers.length %>
                    </h3>
                  </div>
                  <div class="offset-2 col-4">
                    <input type="text" id="searching-rounded" placeholder="Search in rounded" class="form-control">
                  </div>
                </div>
                <div class="btn-group my-3 users-select-button" role="group"
                     aria-label="Basic radio toggle button group" id="rounded-container">
                  <% roundUsers.forEach((user, index) => { %>
                    <input class="btn-check" checked="checked"
                           type="checkbox"
                           id="user-<%- index %>"
                           name="user-<%- index %>" value="<%= user.user_id %>">
                    <label class="btn-outlined btn-outline-primary" for="user-<%- index %>">
                      <%- user.name %>
                      <%- user.email %>
                    </label>
                  <% }) %>
                </div>
                <hr>
                <div class="row">
                  <div class="col-6">
                    <h3>Un-rounded People - <%- unRoundedUsers.length %></h3>
                  </div>
                  <div class="offset-2 col-4">
                    <input type="text" id="searching-unrounded" placeholder="Search in un-rounded" class="form-control">
                  </div>
                </div>
                <div class="btn-group my-3 users-select-button" role="group" id="unrounded-container">
                  <% unRoundedUsers.forEach((user, index) => { %>
                    <% if (user.current_round === null) { %>
                      <input class="btn-check" type="checkbox"
                             id="user-<%- roundUsers.length + index %>"
                             name="user-<%- roundUsers.length + index %>" value="<%= user.user_id %>">
                      <label class="btn-outlined btn-outline-primary" for="user-<%- roundUsers.length + index %>">
                        <%- user.name %>
                        <%- user.email %>
                      </label>
                    <% } %>
                  <% }) %>
                </div>
                <hr>
                <div class="row">
                  <div class="col-6">
                    <h3>People with previous round - <%- usersWithPrevCourse.length %></h3>
                  </div>
                  <div class="offset-2 col-4">
                    <input type="text" id="searching-old-users" placeholder="Search in previous users"
                           class="form-control">
                  </div>
                </div>
                <div class="btn-group my-3 users-select-button" role="group" id="prev-users-container">
                  <% usersWithPrevCourse.forEach((user, index) => { %>
                    <% if (user.current_round === null) { %>
                      <input class="btn-check" type="checkbox"
                             id="user-<%- unRoundedUsers.length + roundUsers.length + index %>"
                             name="user-<%- unRoundedUsers.length + roundUsers.length + index %>"
                             value="<%= user.user_id %>">
                      <label class="btn-outlined btn-outline-primary"
                             for="user-<%- unRoundedUsers.length + roundUsers.length + index %>">
                        <%- user.name %>
                        <%- user.email %>
                      </label>
                    <% } %>
                  <% }) %>
                </div>
              <% } %>
            </div>

            <div class="form-check my-3">
              <input type="checkbox" name="finish_round" class="form-check-input" id="finish_round"
                <%- round.finished ? `checked` : "" %>
              />
              <label for="finish_round" class="form-check-label">Finish Round?</label>
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit" class="btn submitBtn" id="submit-form-btn">
              <% if (editMode === true) { %>
                <%= "Update Round" %>
              <% } else { %>
                <%= "Start new round" %>
              <% } %>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
<script>
  //=> Searching implementation part
  /*

  */
  const submitFormBtn = document.getElementById("submit-form-btn")

  /*  submitFormBtn.addEventListener('click', (e) => {
      e.preventDefault()
      const roundUsersLength = parseInt(`<%= roundUsers.length %>`)
    const selectedRoundUsers = document.querySelectorAll("#rounded-container *").length / 2

    console.log(selectedRoundUsers)

    if (selectedRoundUsers <= 2) {
      e.preventDefault()
      alert("Please check that you have cancelled some people")
    }
  })*/

  const searchingInUsers = (searchingInputId, searchingContainer) => {
    //=>> UnRounded people
    const unRoundedSearchingInput = document.getElementById(searchingInputId)
    const unRoundedContainerDiv = document.getElementById(searchingContainer)
    const unRoundedContainerDivElements = document.querySelectorAll(`#${searchingContainer} *`)
    const unRoundedElementsFirstState = unRoundedContainerDivElements;

    unRoundedSearchingInput.addEventListener("keypress", (event) => {
      let filteredLabels = []
      let filteredInputs = []

      unRoundedContainerDivElements.forEach(ele => {
        const regex = new RegExp(`${unRoundedSearchingInput.value}`)
        if (ele.tagName === "LABEL" && ele.textContent.toLowerCase().search(regex) > 0) {
          filteredLabels.push(ele)
        }
      })

      unRoundedElementsFirstState.forEach(ele => {
        filteredLabels.forEach(label => {
          if (ele.id === label.getAttribute("for") && ele.tagName === "INPUT") {
            filteredInputs.push(ele)
          }
        })
      })

      const constructedStructure = []
      for (let i = 0; i < filteredLabels.length; i++) {
        constructedStructure.push(filteredInputs[i])
        constructedStructure.push(filteredLabels[i])
      }

      unRoundedContainerDiv.replaceChildren(...constructedStructure)


      if (filteredLabels.length === 0) {
        unRoundedContainerDiv.insertAdjacentHTML("beforeend", `<div class="alert alert-danger">User didn't found</div>`)
      }

    })

    unRoundedSearchingInput.addEventListener("keyup", () => {
      if (unRoundedSearchingInput.value.length === 0) {
        unRoundedContainerDiv.replaceChildren(...unRoundedElementsFirstState)
      }
    })
  }

  searchingInUsers("searching-unrounded", "unrounded-container")
  searchingInUsers("searching-rounded", "rounded-container")
  searchingInUsers("searching-old-users", "prev-users-container")

</script>
<%- include("./rounds_scripts.ejs"); %>
<%- include("../../includes/bottom_part.ejs"); %>
