<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/home.css" />
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<!-- Start main header Section -->
<section class="main-header">
    <div class="container">
        <p>Welcome to Dr. Wessam Nagib's webiste, a certified CPHQ trainer</p>
        <h2>Your way to find success in your career</h2>
        <video src="/videos/intro_vid.mp4" autoplay controls></video>
        <div class="button-container">
            <button class="btn">Browse Courses</button>
            <button class="btn">Free Trial</button>
        </div>
        <div class="courses-scroll">
            Our Courses
            <%- include('../../public/imgs/svgs/down_arrow.svg') %>
        </div>
    </div>
</section>
<!-- End main header Section -->
<!-- Start Our Courses Sections -->
<section class="our-courses">
    <div class="container">
        <div class="row courses-container justify-content-center">
            <div class="course-thumbnail col ">
                <img src="/imgs/imgs/book.png" alt="Course thumbnail" />
            </div>
            <div class="course-text col">
                <h3 class="course-title-en">CPHQ Preparation</h3>
                <h3 class="course-title-ar">التحضير لامتحان جودة الرعاية الصحية</h3>
                <p>
                    This course is designed for healthcare professionals who are seeking certification by the Healthcare
                    Quality Certification Commission. The CPHQ Exam Preparation is an intensive review of the
                    comprehensive body of knowledge that is designed according to the content outline of the CPHQ Exam.
                </p>
                <div class="button-container">
                    <button class="btn">View Course</button>
                    <button class="btn">Sample Session</button>
                </div>
            </div>
        </div>
        <div class="row courses-container justify-content-center">
            <div class="course-text offset-1 col">
                <h3 class="course-title-en">CPHQ Preparation</h3>
                <h3 class="course-title-ar">التحضير لامتحان جودة الرعاية الصحية</h3>
                <p>
                    This course is designed for healthcare professionals who are seeking certification by the Healthcare
                    Quality Certification Commission. The CPHQ Exam Preparation is an intensive review of the
                    comprehensive body of knowledge that is designed according to the content outline of the CPHQ Exam.
                </p>
                <div class="button-container">
                    <button class="btn">View Course</button>
                    <button class="btn">Sample Session</button>
                </div>
            </div>
            <div class="course-thumbnail col ">
                <img src="/imgs/imgs/book.png" alt="Course thumbnail" />
            </div>
        </div>
        <div class="row courses-container justify-content-center">
            <div class="course-thumbnail col ">
                <img src="/imgs/imgs/book.png" alt="Course thumbnail" />
            </div>
            <div class="course-text col">
                <h3 class="course-title-en">CPHQ Preparation</h3>
                <h3 class="course-title-ar">التحضير لامتحان جودة الرعاية الصحية</h3>
                <p>
                    This course is designed for healthcare professionals who are seeking certification by the Healthcare
                    Quality Certification Commission. The CPHQ Exam Preparation is an intensive review of the
                    comprehensive body of knowledge that is designed according to the content outline of the CPHQ Exam.
                </p>
                <div class="button-container">
                    <button class="btn">View Course</button>
                    <button class="btn">Sample Session</button>
                </div>
            </div>
        </div>
        <div class="row courses-container justify-content-center">
            <div class="course-text offset-1 col">
                <h3 class="course-title-en">CPHQ Preparation</h3>
                <h3 class="course-title-ar">التحضير لامتحان جودة الرعاية الصحية</h3>
                <p>
                    This course is designed for healthcare professionals who are seeking certification by the Healthcare
                    Quality Certification Commission. The CPHQ Exam Preparation is an intensive review of the
                    comprehensive body of knowledge that is designed according to the content outline of the CPHQ Exam.
                </p>
                <div class="button-container">
                    <button class="btn">View Course</button>
                    <button class="btn">Sample Session</button>
                </div>
            </div>
            <div class="course-thumbnail col ">
                <img src="/imgs/imgs/book.png" alt="Course thumbnail" />
            </div>
        </div>
    </div>
</section>
<!-- End Our Courses Sections -->
<!-- Start Testimonials -->

<section class="testimonials">
    <div class="container">
        <div class="text-center">
            <%- include('../../public/imgs/svgs/comments.svg') %>
            Testimonials
        </div>
        <!-- Starting Slider -->
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <section class="client-container">
                        <div class="client-data">
                            <%- include('../../public/imgs/svgs/account.svg') %>
                            <div class="client-name-date">
                                <div class="client-name">
                                    John Doe
                                </div>
                                <div class="client-date">
                                    January - 2022
                                </div>
                            </div>
                        </div>
                        <p class="client-opinion">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu aliquet diam, at
                            interdum velit. Vivamus ut arcu non augue malesuada maximus. Cras hendrerit et dui
                            quis varius."
                        </p>
                    </section>
                </div>
                <div class="swiper-slide">
                    <section class="client-container">
                        <div class="client-data">
                            <%- include('../../public/imgs/svgs/account.svg') %>
                            <div class="client-name-date">
                                <div class="client-name">
                                    John Doe
                                </div>
                                <div class="client-date">
                                    January - 2022
                                </div>
                            </div>
                        </div>
                        <p class="client-opinion">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu aliquet diam, at
                            interdum velit. Vivamus ut arcu non augue malesuada maximus. Cras hendrerit et dui
                            quis varius."
                        </p>
                    </section>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <!-- End Slider -->
    </div>
</section>
<!-- End Testimonials -->
<!-- Start info section -->
<section class="info-section">
    <p class="text-center"><a href="mailto:info@drwesam.com" class="reset-link">info@drwesam.com</a></p>
</section>
<!-- End info section -->

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>