<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/home.css"/>
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<!-- Start main header Section -->
<section class="main-header">
  <div class="container">
    <p>Welcome to Dr. Wessam Nagib's webiste, a certified CPHQ trainer</p>
    <h2>Your way to find success in your career</h2>
    <video src="/videos/intro_vid.mp4" autoplay controls></video>
    <div class="button-container">
      <a class="btn" href="/courses">Browse Courses</a>
      <a class="btn" href="https://www.youtube.com/channel/UCk_rc4hmGJgBhZj9bQMwYDA/videos" target="_blank">Free
        Trial</a>
    </div>
    <div class="courses-scroll">
      Our Courses
      <%- include('../../public/imgs/svgs/down_arrow.svg') %>
    </div>
  </div>
</section>
<!-- End main header Section -->
<!-- Start Our Courses Sections -->
<section class="our-courses">
  <div class="container">
    <% courses.forEach((course, index) => { %>
      <div class="row courses-container justify-content-center">
        <div class="course-text col">
          <h3 class="course-title-en"><%- course.name %></h3>
          <h3 class="course-title-ar"><%- course.ar_course_name %></h3>
          <p class="ar-font">
            <%- course.description %>
          </p>
          <div class="button-container">
            <a class="btn" href="/courses/<%- course.course_id %>">View Course</a>
            <a class="btn" href="https://www.youtube.com/channel/UCk_rc4hmGJgBhZj9bQMwYDA/videos" target="_blank">
              Sample Session
            </a>
          </div>
        </div>
        <div class="course-thumbnail col ">
          <img src="<%- course.course_img %>" alt="<%- course.name %>"/>
        </div>
      </div>
    <% }) %>
  </div>
</section>
<!-- End Our Courses Sections -->
<!-- Start JoinUs Section -->

<section class="join-us">
  <div class="overlay">
    <div class="container">
      <div class="text-center">
        <h2>Make the best decision you could ever take in your career right now!</h2>
        <p>Meet your expectations with our best in-game, highly trained, and well-skilled instructors.</p>
        <a class="btn reset-link d-inline-flex" href="/courses">Join Now</a>
      </div>
    </div>
  </div>
</section>

<!-- End JoinUs Section -->
<!-- Start Testimonials -->

<section class="testimonials">
  <div class="container">
    <div class="text-center">
      <%- include('../../public/imgs/svgs/comments.svg') %>
      Testimonials
    </div>
    <!-- Starting Slider -->
    <!-- Slider main container -->
    <div class="swiper main-slider">
      <!-- Additional required wrapper -->

      <div class="swiper-wrapper">
        <!-- Slides -->
        <% opinions.forEach(opinion => { %>
          <div class="swiper-slide">
            <section class="client-container">
              <div class="client-data">
                <%- include('../../public/imgs/svgs/account.svg') %>
                <div class="client-name-date">
                  <div class="client-name">
                    <%- opinion.sender_name %>
                  </div>
                  <div class="client-date">
                    <bdi><%- opinion.created_on ? opinion.created_on : new Date("01-22-2022").getDate() + '-' + new Date("01-22-2022").getMonth() + 1 + '-' + new Date("01-22-2022").getFullYear() %></bdi>
                  </div>
                </div>
              </div>
              <blockquote class="client-opinion ar-font">
                "<%- opinion.sender_message %>"
              </blockquote>
            </section>
          </div>
        <% }) %>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev d-none d-lg-block"></div>
      <div class="swiper-button-next d-none d-lg-block"></div>
    </div>
    <!-- End Slider -->
  </div>
</section>
<!-- End Testimonials -->
<!-- Start info section -->
<section class="info-section">
  <p class="text-center"><a href="mailto:drwesamnageib@gmail.com" class="reset-link" target="_blank">drwesamnageib@gmail.com</a>
  </p>
</section>
<!-- End info section -->
<!-- Start Floating Whatsapp -->

<div class="floating-whatsapp">
  <a href="https://wa.me/966548794731">
    <%- include("../../public/imgs/svgs/whatsapp.svg"); %>
  </a>
</div>

<!-- End Floating Whatsapp -->

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>