<%- include("../../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css" />
<link rel="stylesheet" href="/css/dashboard/dashboard.css" />
<link rel="stylesheet" href="/css/dashboard/courses.css">
<link rel="stylesheet" href="/css/dashboard/about.css" />

</head>
<body>

<section class="courses certificates" id="app">
  <%- include("../../includes/dashboard-navbar.ejs"); %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <!-- Start Paragraphs section -->
          <main class="content-header">
            <div class="custom-head">
              <h2>About us paragraphs</h2>
              <span></span>
            </div>
            <a class="btn btn-success" href="/dashboard/about/add-new-about">
              Add about paragraphs
            </a>
          </main>

          <table class="table table-responsive table-hover table-bordered">
            <thead class="table-head">
            <tr>
              <th class="certificate-rank">#</th>
              <th>Paragraphs</th>
              <th class="certificate-update">Update Paragraph</th>
              <th class="certificate-delete">Delete Paragraph</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(paragraph, index) in paragraphs" :key="paragraph.instructor_id">
              <th>
                {{ index + 1 }}
              </th>
              <td v-html="paragraph.about_us_paragraph">
              </td>
              <td class="course-update">
                <a
                  :href=`/dashboard/about/edit-paragraph/${paragraph.instructor_id}?edit=true`
                  class="btn btn-success">Update Paragraph</a>
              </td>
              <td class="course-delete">
                <form method="post" @submit.prevent="deleteParagraph">
                  <input type="hidden" name="instructorId"
                         :value="paragraph.instructor_id">
                  <button type="submit" class="btn btn-danger">Delete Paragraph</button>
                </form>
              </td>
            </tr>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" ref="csrfToken" />
            </tbody>
          </table>

          <!-- End Paragraphs section -->

          <!-- Start Instructors section -->

          <div class="content-header">
            <div class="custom-head">
              <h2>Instructors</h2>
              <span></span>
            </div>
            <a class="btn btn-success" href="/dashboard/about/add-new-instructor">
              Add new instructor
            </a>
          </div>

          <table class="table align-middle table-responsive table-bordered table-hover">
            <thead class="table-head">
            <tr>
              <th class="certificate-rank">#</th>
              <th>Instructor name</th>
              <th>Instructor Data</th>
              <th class="certificate-update">Update Instructor Data</th>
              <th class="certificate-delete">Delete Instructor</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(instructor, index) in instructors" :key="instructor.instructor_id">
              <th>
                {{ index + 1 }}
              </th>
              <td>
                {{ instructor.instructor_name }}
              </td>
              <td v-html="instructor.instructor_data">
              </td>
              <td class="course-update">
                <a
                  :href=`/dashboard/about/edit-instructor/${instructor.instructor_id}?edit=true`
                  class="btn btn-success">Update
                  Instructor Data</a>
              </td>
              <td class="course-delete">
                <form method="post" @submit.prevent="deleteInstructor">
                  <input type="hidden" name="instructorId"
                         :value="instructor.instructor_id">
                  <button type="submit" class="btn btn-danger">Delete Instructor</button>
                </form>
              </td>
            </tr>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" ref="csrfToken" />
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" id="deletingModalButton" data-bs-toggle="modal"
        data-bs-target="#confirmationModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deletion Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete it?
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="confirmDeletionButton">Yes</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/axios.min.js"></script>
<script>
  const { createApp } = Vue

  async function mounted() {
    this.paragraphs = (await axios.get("/dashboard/about/paragraphs-data")).data.paragraphs
    this.instructors = (await axios.get("/dashboard/about/instructors-data")).data.instructors
    console.log(this.instructors)
  }

  createApp({
    data() {
      return {
        paragraphs: ``,
        instructors: "",
      }
    },
    methods: {
      deleteParagraph(e) {
        const instructorId = e.target.getElementsByTagName("input")["instructorId"].value
        const deleteModalBtn = document.querySelector("#deletingModalButton")
        const confirmDeleteBtn = document.querySelector("#confirmDeletionButton")

        deleteModalBtn.click()

        confirmDeleteBtn.addEventListener("click", () => {
          axios(
            {
              method: "delete",
              url: "/dashboard/about/delete-paragraph",
              data: {
                instructorId,
              },
            },
            {
              headers: {
                accept: "application/json",
                "X-XSRF-TOKEN": this.$refs.csrfToken.value,
              },
            },
          )
            .then(res => {
              console.log(res)
              alert("Deletion is done!")
              window.location.reload()
            })
            .catch(err => {
              console.error(err)
            })
        })
      },
      deleteInstructor(e) {
        const instructorId = e.target.getElementsByTagName("input")["instructorId"].value
        const deleteModalBtn = document.querySelector("#deletingModalButton")
        const confirmDeleteBtn = document.querySelector("#confirmDeletionButton")

        deleteModalBtn.click()

        confirmDeleteBtn.addEventListener("click", () => {
          axios(
            {
              method: "delete",
              url: "/dashboard/about/delete-instructor",
              data: {
                instructorId,
              },
            },
            {
              headers: {
                accept: "application/json",
                "X-XSRF-TOKEN": this.$refs.csrfToken.value,
              },
            },
          )
            .then(res => {
              console.log(res)
              window.location.reload()
            })
            .catch(err => {
              console.error(err)
            })
        })
      },
    },
    mounted,
  }).mount("#app")
</script>

<%- include("../../includes/bottom_part.ejs"); %>
