<%- include("../../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/dashboard/navbar.css" />
<link rel="stylesheet" href="/css/dashboard/dashboard.css" />
<link rel="stylesheet" href="/css/dashboard/courses.css">
<link rel="stylesheet" href="/css/dashboard/about.css" />

<script src="https://cdn.jsdelivr.net/npm/vue-demi"></script>
<script src="https://cdn.jsdelivr.net/npm/@vuelidate/core"></script>
<script src="https://cdn.jsdelivr.net/npm/@vuelidate/validators"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>

</head>
<body>


<section id="app">
  <%- include("../../includes/dashboard-navbar.ejs"); %>

  <div class="container">
    <div class="custom-head">
      <h2>
        <% if (editMode === true) { %>
          <%= "Update instructor data" %>
        <% } else { %>
          <%= "Add new instructor data" %>
        <% } %>
      </h2>
      <span></span>
    </div>

    <div class="col-12">
      <div v-if="serverError.length > 0" class="alert alert-danger">
        {{ serverError }}
      </div>

      <form @submit.prevent="submitForm">
        <div class="form-floating my-3">
          <input type="text" name="instructor_name" placeholder="Instructor Name"
                 class="form-control" v-model="instructor_name"
                 :class="{ 'is-invalid': errors.find(e => e.name === 'instructor_name') }"
                 id="instructor_name" />
          <label for="instructor_name">Instructor Name</label>
          <div v-if="errors.find(e => e.name === 'instructor_name')">
            <span class="text-danger fs-6" v-text="errors[errors.findIndex(e => e.name === 'instructor_name')].message">
            </span>
          </div>
        </div>

        <div class="my-3">
          <label>Instructor Data</label>
          <textarea name="description"
                    class="form-control editor">
              </textarea>
        </div>

        <div class="my-3">
          <div class="input-group">
            <label for="instructor_img" class="input-group-text">Instructor Personal Image</label>
            <input type="file" name="instructor_img" placeholder="Instructor Image"
                   class="form-control" @change="addInstructorImg"
                   :class="{ 'is-invalid': errors.find(e => e.name === 'instructor_img') }"
                   id="instructor_img" />
          </div>
          <div v-if="errors.find(e => e.name === 'instructor_img')">
            <span class="text-danger fs-6" v-text="errors[errors.findIndex(e => e.name === 'instructor_img')].message">
            </span>
          </div>
        </div>

        <div class="my-3">
          <div class="input-group">
            <label for="instructor_certificates" class="input-group-text">Instructor Certificates</label>
            <input type="file" name="instructor_certificates" placeholder="Instructor Certificates"
                   class="form-control" @change="addInstructorCertificates"
                   multiple="true"
                   :class="{ 'is-invalid': errors.find(e => e.name === 'instructor_certificates') }"
                   id="instructor_certificates" />
          </div>
          <div v-if="errors.find(e => e.name === 'instructor_certificates')">
            <span class="text-danger fs-6"
                  v-text="errors[errors.findIndex(e => e.name === 'instructor_certificates')].message">
            </span>
          </div>
          <div v-if="instructor_certificates.length > 0">
            <h4>Selected Images</h4>
            <ol>
              <li v-for="img in instructor_certificates">
                {{ img }}
              </li>
            </ol>
          </div>
        </div>

        <button class="btn" type="submit">
          <% if (editMode === true) { %>
            <%= "Update instructor data" %>
          <% } else { %>
            <%= "Add new instructor" %>
          <% } %>
        </button>
        <input type="hidden" value="<%= csrfToken %>" ref="csrfToken">
      </form>
    </div>

  </div>
</section>

<script src="/js/axios.min.js"></script>


<script>
  const editorTag = document.querySelector(".editor");
  let editor;
  ClassicEditor
    .create(editorTag, {
      toolbar: ['heading', '|',
        'fontfamily', 'fontsize', '|',
        'alignment', '|',
        'fontColor', 'fontBackgroundColor', '|',
        'bold', 'italic', 'strikethrough', 'underline', 'subscript', 'superscript', '|',
        'link', '|',
        'outdent', 'indent', '|',
        'bulletedList', 'numberedList', 'todoList', '|',
        'insertTable', '|',
        'blockQuote', '|',
        'undo', 'redo']
    })
    .then(editorData => {
      editor = editorData;
    })
    .catch(err => {
      console.error(err)
    })

  ClassicEditor.replaceAll();
</script>

<script>
  const { createApp } = Vue

  async function mounted() {

  }

  createApp({
    components: {
      ckeditor: ClassicEditor.component
    },
    data() {
      return {
        instructor_name: "",
        instructor_img: "",
        instructor_certificates: [],
        backend_img: "",
        backend_certificates: [],
        errors: [],
        serverError: '',
        editor: ClassicEditor
      }
    },
    methods: {
      submitForm() {
        let validForm = true,
          instructorNameValid = true,
          instructorImgValid = true,
          instructorCertificatesValid = true

        if ((this.instructor_name.trim().length < 5)) {
          validForm = false
          instructorNameValid = false

          if (this.errors.findIndex(e => e.name === "instructor_name") === -1) {
            this.errors = [...this.errors, {
              name: "instructor_name",
              message: "Please make sure that instructor name length greater than 5!",
            }]
          }
        } else {
          instructorNameValid = true
        }

        if (this.instructor_img.length === 0) {
          validForm = false
          instructorImgValid = false
          if (this.errors.findIndex(e => e.name === "instructor_img") === -1) {
            this.errors = [
              ...this.errors,
              {
                name: "instructor_img",
                message: "You've not selected any image!",
              },
            ]
          }
        } else {
          instructorImgValid = true
        }

        if (this.instructor_certificates.length === 0) {
          validForm = false
          instructorCertificatesValid = false
          if (this.errors.findIndex(e => e.name === "instructor_certificates") === -1) {
            this.errors = [
              ...this.errors,
              {
                name: "instructor_certificates",
                message: "You've not selected any image!",
              },
            ]
          }
        } else {
          instructorCertificatesValid = true
        }

        if (validForm) {

          const formData = new FormData()
          formData.append(`instructorImg`, this.backend_img)

          this.backend_certificates.forEach(img => {
            formData.append("instructorCertificates", img)
          })

          formData.append('instructorName', this.instructor_name)

          axios.post("/dashboard/about/add-new-instructor",
            formData, {
              headers: {
                'accept': 'application/json',
                "X-XSRF-TOKEN": this.$refs.csrfToken.value,
              }
            })
            .then(res => {
              window.location = '/dashboard/about'
            })
            .catch(err => {
              this.serverError = err.message
            })
        }

        // remove errors
        if (instructorNameValid && instructorImgValid && instructorCertificatesValid)
          validForm = true

        if (instructorNameValid) {
          this.errors = this.errors.filter(e => e.name !== "instructor_name")
        }
        if (instructorImgValid) {
          this.errors = this.errors.filter(e => e.name !== "instructor_img")
        }
        if (instructorCertificatesValid) {
          this.errors = this.errors.filter(e => e.name !== "instructor_certificates")
        }

      },
      addInstructorImg(e) {
        let validImage = true
        if (e.target.files[0].size >= (2 * 1024 * 1024)) {
          validImage = false
          if (this.errors.findIndex(err => err.name === "instructor_img") === -1) {
            this.errors = [
              ...this.errors,
              {
                name: "instructor_img",
                message: "Very large image!, please select smaller image",
              },
            ]
          }
        } else {
          this.backend_img = e.target.files[0]
          this.instructor_img = e.target.files[0].name
          validImage = true
        }

        if (validImage) {
          this.errors = this.errors.filter(e => e.name !== "instructor_img")
        }
      },
      addInstructorCertificates(e) {
        let certificatesNames = []
        for (let i of e.target.files) {
          certificatesNames.push(i.name)
          this.backend_certificates = [
            ...this.backend_certificates,
            i,
          ]
        }
        this.instructor_certificates = certificatesNames

        if (certificatesNames.length > 0 && this.errors.findIndex(err => err.name === "instructor_certificates")) {
          this.errors = this.errors.filter(e => e.name !== "instructor_certificates")
        }
      },
    },
    mounted,
  })
    .mount("#app")
</script>

<%- include("../../includes/bottom_part.ejs"); %>
