<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/about/index.css" />
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="aboutme">
  <div class="container">
    <div class="custom-head">
      Who am i ?
      <span></span>
    </div>
    <p class="main-paragraph">
      Hello 👋, <br />
      My name is Wesam Nageib, I have a <span class="custom-word">Bachelors degree in pharmacy science</span>, A
      certified <span class="custom-word">CPHQ exam trainer </span>, certified <span
        class="custom-word">CSSYB</span>, <span class="custom-word">TOT trainer</span>, <span
        class="custom-word">MSC cerified</span> and <span class="custom-word">ISQUA member.</span>
      <br />
    </p>

    <section class="fs-5">
      <% paragraphs.forEach(p => { %>
        <%- p.about_us_paragraph %>
      <% }) %>

      <% if (instructors.length > 0 ) { %>
        <div class="custom-head">
          Instructors
          <span></span>
        </div>
      <% } %>

      <% instructors.forEach(e => { %>
        <%= e.instructor_name %>
        <%- e.instructor_data %>
      <% }) %>
    </section>
  </div>
</section>

<%- include("../includes/footer.ejs"); %>

<script async type="module">
  import Swiper from "https://unpkg.com/swiper@7/swiper-bundle.esm.browser.min.js"

  const aboutSwiper = new Swiper(".about-swiper", {
    loop: true,
    autoplay: true,
    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
      },
      992: {
        slidesPerView: 2,
      },
      1200: {
        slidesPerView: 3,
      },
    },
  })
</script>

<%- include("../includes/bottom_part.ejs"); %>
