<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/user/profile.css"/>
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="course-certificate">
  <div class="container">
    <p class="fs-4">Your Certificate for finishing &ldquo;<%= pageData.courseName %>&bdquo; for
      Round &ldquo;<%= pageData.roundDate %>&bdquo;</p>

    <div class="certificate">
      
    </div>
  </div>
</section>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
