<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/user/profile.css" />
<link rel="stylesheet" href="/css/user/exam.css" />
<style>
    .user-data {
        display: none;
    }

    @media print {
        .user-data {
            display: block;
            position: absolute;
            z-index: 9999;
            top: 50px;
            left: 0;
            opacity: 0.5;
        }

        #download-report {
            display: none;
        }
    }
</style>
</head>
<body>
<%- include("../includes/navigation.ejs"); %>


<section class="exam">
  <div class="container">
    <div class="custom-head">
      <h2 class="h1 text-center"><%- examData.title %></h2>
      <span class="mx-auto"></span>
    </div>
    <!--<div class="offset-lg-3 col-lg-6 col-xs-12">
      <button class="btn" id="download-report">
        Download your report
      </button>
      <span class="user-data text-center"><%= userData.name %> - <%= userData.user_id %></span>
    </div>-->
    <div class="row">
      <div class="offset-lg-3 col-lg-6 col-xs-12">
        <div class="question-container" id="questionsContainer">
          <form id="exam-form">
            <% for (let i = 0, j = 0; i < performingData.length; i++)  { %>
              <div class="question">
                <div class="custom-head">
                  <h4>Q<sub><%= j + 1 %></sub> - <%= questions[i].questionHeader %></h4>
                  <span></span>
                </div>
                <div class="answers-container">
                  <% questions[i].answers.forEach((answer, answerIndex)=> { %>
                    <div class="form-check my-3">
                      <input
                        class="form-check-input <%- answerIndex === performingData[i].correctAnswer - 1 ? "is-valid" : "" %> <%- performingData[i].correctAnswer !== performingData[i].userAnswer && answerIndex === performingData[i].userAnswer - 1 ? "is-invalid" : "" %>"
                        type="radio" readonly
                        <%- answerIndex === performingData[i].correctAnswer - 1 ? `checked` : "" %>
                        id="q-<%- j + 1 %>-answer-<%- answerIndex + 1 %>"
                        name="answer-<%- j %>">
                      <label class="form-check-label w-100"
                             for="q-<%- j + 1 %>-answer-<%- answerIndex + 1 %>">
                        <%- answer %>
                        <% if ( performingData[i].correctAnswer !== performingData[i].userAnswer && answerIndex === performingData[i].userAnswer - 1 ) { %>
                          <i>(Your answer)</i>
                        <% } %>
                      </label>
                    </div>
                  <% }) %>
                  <% j += 1 %>
                </div>
              </div>
            <% } %>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.getElementById("download-report").addEventListener("click", () => {
    window.print()
  })
</script>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
