<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/auth/login.css"/>
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="profile">
  <h1>Welcome Mr. <%= title %></h1>
</section>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
