<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/user/profile.css" />
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="profile">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <%- include("../includes/errorMessage.ejs"); %>
        <div class="custom-head">
          <h2>Your Data</h2>
          <span></span>
        </div>
        <div class="user-content">
          <div class="info">
            Name
          </div>

          <div class="info">
            <%= user.name %>
          </div>
          <div class="info">
            Phone Number
          </div>

          <div class="info">
            <%= user.whatsapp_no %>
          </div>
          <div class="info">
            Email
          </div>

          <div class="info">
            <%= user.email %>
          </div>

          <div class="info">
            Specialization
          </div>

          <div class="info">
            <%= user.specialization %>
          </div>

          <div class="info">
            Your Courses
          </div>

          <div class="info payments-details">
            <% if (bought_courses?.length !== 0) { %>
              <div class="bought_courses">
                <span>Course Name</span>
                <span>Course Price</span>
                <% bought_courses.forEach(course => { %>
                  <span><%= course.name %></span>
                  <span><%= course.price %></span>
                <% }) %>
              </div>
            <% } else { %>
              You've bought not courses yet! <a href="/courses">Buy now</a>
            <% } %>
          </div>

          <div class="info">
            <% if (roundLink?.length !== 0) { %>
              Your round link
            <% } %>
          </div>
          <div class="info">
            <% if (roundLink?.length !== 0) { %>
              <%- roundLink %>
            <% } %>
          </div>

          <% if (userGrades && userGrades.length > 0) { %>
            <div class="info">
              Your Performed exam grades <br />

              <div class="exams-previews">
                <% userGrades.forEach(({ replies, preview_link, title }) => { %>
                  <% preview_link.forEach((reply, index) => { %>
                    <div class="preview-<% index + 1 %>">
                      <span><%= index + 1 %>: </span>
                      <a href="<%- reply %>"><%= title %> report</a>
                    </div>
                  <% }) %>
                <% }) %>
              </div>
            </div>

            <div class="info payments-details">
              <div class="bought_courses">
                <span>Exam Title</span>
                <span>Exam Grade</span>
                <% userGrades.forEach(({ title, replies, questions }) => { %>
                  <span><%= title %></span>
                  <span class="grades">
                    <% replies.forEach(grade => { %>
                      <span><sup><%= grade %></sup>&frasl;<sub><%= questions %></sub></span>
                    <% }) %>
                  </span>
                <% }) %>
              </div>
            </div>
          <% } %>

          <% if (courseName) { %>
            <div class="info">
              Your Certificate
            </div>

            <div class="info">
              <a href="/certificates/<%- courseId %>" class="link-success"><%= courseName.name %>
                - <%= moment(roundDate).format("LL") %></a>
            </div>
          <% } %>

          <div class="info">
            <a href="/update-data/<%= user.user_id %>" class="btn">
              Update your data?
            </a>
          </div>

        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-lg-6 col-xs-12">
            <div class="user-img">
              <% if (user.user_img) { %>
                <img
                  src="/downloaded_images/<%= user.user_img %>"
                  alt="<%= user.name %>"
                />
              <% } else { %>
                <div class="alert alert-primary" role="alert">
                  Do you want to add an image ?
                </div>
                <img
                  src="/imgs/imgs/user_img.png"
                  alt="<%= user.name %>"
                />
              <% } %>
            </div>
          </div>
          <div class="col-lg-5 col-xs-12">
            <form action="/update-user-img" method="POST" enctype="multipart/form-data">
              <div class="custom-input">
                <input type="file" name="user_img" id="user_img" placeholder="Update your image"
                       class="form-control <%= validationError.error === "img" ? "is-invalid" : "" %>">
              </div>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button type="submit" class="btn btn-outlined">
                update image
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<hr />-->
<!--

<h1>Testing apline</h1>
<div class="container" x-data="{open: false}">

  <div x-show="open">
    Testing
  </div>

  <button class="btn btn-info" @click="toggleStatus()">Click Me</button>
</div>
-->

<script src="/js/alpine.min.js"></script>
<script type="module">
  const toggleStatus = () => {

  }
</script>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
