<%- include("../includes/top_part.ejs"); %>
<script src="/js/axios.min.js"></script>
<link rel="stylesheet" href="/css/user/profile.css" />
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="profile">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5" x-data="{userData: {}, payments: {}, round: {}, userGrades: {}, certificate: {}}"
           x-init="
            userData = (await axios.get('/user-data')).data.user;
            payments = (await axios.get('/user-payments')).data;
            round = (await axios.get('/user-round')).data;
            userGrades = (await axios.get('/user-grades')).data;
            certificate = (await axios.get('/user-certificates')).data;
      ">
        <%- include("../includes/errorMessage.ejs"); %>
        <div class="custom-head">
          <h2>Your Data</h2>
          <span></span>
        </div>
        <div class="user-content">
          <div class="info-container">
            <div class="info">
              Name
            </div>

            <div class="info" x-text="userData.name">
            </div>
            <div class="info">
              Phone Number
            </div>

            <div class="info" x-text="userData.whatsapp_no">
            </div>
            <div class="info">
              Email
            </div>

            <div class="info" x-text="userData.email">
            </div>

            <div class="info">
              Specialization
            </div>

            <div class="info" x-text="userData.specialization">
            </div>
          </div>

          <div class="info-container payments-details">
            <div class="info">
              Your Bought Courses
            </div>
            <div class="info" x-show="payments.payments">
              <template x-for="payment in payments.payments">
                <div class="bought_courses" x-data="{payment}">
                  <span x-text="payment.name"></span>
                  <span x-text="payment.price"></span>
                </div>
              </template>
            </div>
            <div class="info" x-show="!payments.payments">
              <span>You haven't bought any courses yet!</span>
            </div>
          </div>

          <div class='info-container' x-show="round">
            <div class="info">
              Round files
            </div>
            <div class="info" x-transition x-html="round.round">
            </div>
          </div>

          <span x-show="userGrades.userExams">
            Your Performed Exams:
          </span>
          <div class='info-container' x-show="userGrades.userExams">
            <div class="info">
              <div class="exams-previews">
                <template x-for="(grade, index) in userGrades.userExams">
                  <div x-data="grade" :class="'preview-' + index" class="fs-5">
                    <span x-text="index + 1 + ': '"></span>
                    <a :href="grade.preview_link" x-text="grade.title + ' report'"></a>
                  </div>
                </template>
              </div>
            </div>

            <div class="info payments-details" x-show="userGrades.userExams">
              <template x-for="(grade, index) in userGrades.userExams">
                <div class="bought_courses" x-data="{grade}">
                <span class="text-center">
                  <sup><span x-text="grade.reply.grade"></span></sup> /
                  <sub><span x-text="grade.reply.userAnswers.length"></span></sub>
                </span>
                </div>
              </template>
            </div>
          </div>

          <div class='info-container' x-show="certificate.certificateData">
            <div class="info">
              Your certificate
            </div>

            <div class="info">
              <a :href="`/certificates/${certificate.certificateData.courseId}`" class="link-success"
                 x-text="`${certificate.certificateData.courseName} - ${certificate.certificateData.roundDate}`"></a>
            </div>
          </div>

          <div class="info-container">
            <a :href="`/update-data/${userData.user_id}`" class="btn">
              Update your data?
            </a>
          </div>

        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-lg-6 col-xs-12">
            <div class="user-img">
              <% if (user.user_img) { %>
                <img
                  src="/downloaded_images/<%= user.user_img %>"
                  alt="<%= user.name %>"
                />
              <% } else { %>
                <img
                  src="/imgs/imgs/user_img.png"
                  alt="<%= user.name %>"
                />
              <% } %>
            </div>
          </div>
          <div class="col-lg-5 col-xs-12">
            <form action="/update-user-img" method="POST" enctype="multipart/form-data">
              <div class="custom-input">
                <input type="file" name="user_img" id="user_img" placeholder="Update your image"
                       class="form-control <%= validationError.error === "img" ? "is-invalid" : "" %>">
              </div>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button type="submit" class="btn btn-outlined">
                update image
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/alpine.min.js"></script>

<%
/*<hr />

<div class="container" x-data="{open: false, userName: 'Seif Tahawy'}">
  <h1>Testing apline</h1>

  <span x-show="open" x-transition>
    Testing
  </span>

  <button class="btn btn-info" @click="open = !open">Click Me</button>

  <div style="transform: skew(20deg)">
    Your name is <span x-text="userName"></span>
  </div>

  <div x-text="(await axios.get('/user-data')).data.user.email"></div>

</div>
*/
%>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
