<%- include("../includes/top_part.ejs"); %>
<script src="/js/axios.min.js"></script>
<link rel="stylesheet" href="/css/user/profile.css" />
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="profile">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <%- include("../includes/errorMessage.ejs"); %>
        <div class="custom-head">
          <h2>Your Data</h2>
          <span></span>
        </div>
        <div class="user-content">

          <div id="app">
            <div class="info-container">
              <div class="info">
                Name
              </div>

              <div class="info">
                {{ userData.name }}
              </div>

              <div class="info">
                Phone Number
              </div>

              <div class="info">
                {{ userData.whatsapp_no }}
              </div>

              <div class="info">
                Email
              </div>

              <div class="info">
                {{ userData.email }}
              </div>

              <div class="info">
                Specialization
              </div>

              <div class="info">
                {{ userData.specialization }}
              </div>
            </div>

            <span v-if="examsData.userExams">
              Your Performed Exams:
            </span>

            <div v-if="examsData.hasOwnProperty('userExams')" class="info-container">
              <div v-for="(item, index) in examsData.userExams" class="exams-previews info">
                <div class="preview-{{ index }}">
                  <span>{{ index + 1}} : </span>
                  <a :href="`/exams/preview/${ item.reply_id }`">{{ item.title }} report</a>
                </div>
              </div>

              <div class="info payments-details" v-for="(grade, index) in examsData.userExams">
                <div class="bought_courses">
                  <span class="text-center">
                    <sup><span> {{ grade.grade }} </span></sup> /
                    <sub><span> {{ grade.questions.length }} </span></sub>
                  </span>
                </div>
              </div>
            </div>

            <div class="info-container payments-details">
              <div class="info">
                Your Bought Courses
              </div>
              <div class="info" v-if="payments">
                <template v-for="payment in payments" :key="payment.id">
                  <div class="bought_courses">
                    <span v-text="payment.name"></span>
                    <span v-text="payment.price"></span>
                  </div>
                </template>
              </div>
              <div class="info" v-if="!payments">
                <span>You haven't bought any courses yet!</span>
              </div>
            </div>

            <div class='info-container' v-if="round">
              <div class="info">
                Round files
              </div>
              <div class="info" v-html="round">
              </div>
            </div>

            <div class='info-container' v-if="certificate">
              <div class="info">
                Your certificate
              </div>

              <div class="info">
                <a :href="`/certificates/${certificate.courseId}`" class="link-success"
                   v-text="`${certificate.courseName} - ${certificate.roundDate}`"></a>
              </div>
            </div>


            <div class="info-container">
              <a :href="`/update-data/${userData.user_id}`" class="btn">
                Update your data?
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-lg-6 col-xs-12">
            <div class="user-img">
              <% if (user.user_img) { %>
                <img
                  src="/downloaded_images/<%= user.user_img %>"
                  alt="<%= user.name %>"
                />
              <% } else { %>
                <img
                  src="/imgs/imgs/user_img.png"
                  alt="<%= user.name %>"
                />
              <% } %>
            </div>
          </div>
          <div class="col-lg-5 col-xs-12">
            <form action="/update-user-img" method="POST" enctype="multipart/form-data">
              <div class="custom-input">
                <input type="file" name="user_img" id="user_img" placeholder="Update your image"
                       class="form-control <%= validationError.error === "img" ? "is-invalid" : "" %>">
              </div>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button type="submit" class="btn btn-outlined">
                update image
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/alpine.min.js"></script>

<script async>
  const { createApp } = Vue

  async function mounted() {
    this.userData = (await axios.get("/user-data")).data.user
    this.examsData = (await axios.get("/user-grades")).data
    this.payments = (await axios.get("/user-payments")).data.payments
    this.round = (await axios.get("/user-round")).data.round
    this.certificate = (await axios.get("/user-certificates")).data.certificateData

    console.log(this.certificate)
  }

  createApp({
    data() {
      return {
        examsData: "",
        userData: "",
        payments: "",
        round: "",
        certificate: "",
      }
    },
    mounted,
  }).mount("#app")
</script>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
